In [5]:
import yfinance as yf
import pandas as pd
from datetime import date
data = yf.download('BTC-USD', start='2010-01-01',
                end=date.today())

data.to_csv('../data/historical_yfinance/btc_usd.csv')

[*********************100%***********************]  1 of 1 completed

In [6]:
df = pd.read_csv('../data/historical_yfinance/btc_usd.csv')
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100
...,...,...,...,...,...,...,...
2773,2022-04-21,41371.515625,42893.582031,40063.828125,40527.363281,40527.363281,35372786395
2774,2022-04-22,40525.863281,40777.757812,39315.417969,39740.320312,39740.320312,28011716745
2775,2022-04-23,39738.722656,39935.859375,39352.203125,39486.730469,39486.730469,16138021249
2776,2022-04-24,39478.375000,39845.925781,39233.539062,39469.292969,39469.292969,17964398167
2777,2022-04-25,39472.605469,40491.753906,38338.378906,40458.308594,40458.308594,35445730570

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2778 entries, 0 to 2777
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2778 non-null   object
 1   Open       2778 non-null   float64
 2   High       2778 non-null   float64
 3   Low        2778 non-null   float64
 4   Close      2778 non-null   float64
 5   Adj Close  2778 non-null   float64
 6   Volume     2778 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 152.0+ KB